# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
.venv/
*.zip

# Django
*.log
logs/
db.sqlite3
db.sqlite3.backup
db.sqlite3.backup-*
*.backup
*.backup-*
/media/
/staticfiles/

# Media / Uploads
uploads/
/media/
temp/

# IDE
.vscode/
.idea/
*.swp

# Env
.env
.env.local

# Backups
*-backup-*
*-final-*
*-backup.zip
vakilyar-*.zip

# OS
.DS_Store
Thumbs.db
