<div class="ml-sidebar-widget">
    <h3 class="ml-widget-title">
        <i class="fa fa-tags"></i>
        دسته‌بندی پرونده‌ها
    </h3>

    <ul class="ml-widget-list">
        {% for category in category_list %}
            <li class="ml-widget-item">
                <a href="{% url 'movakel-categories-list' cat=category.name %}">
                    <span class="ml-widget-name">{{ category.name }}</span>
                    <span class="ml-widget-count">{{ category.count }}</span>
                </a>
            </li>
        {% empty %}
            <li class="ml-widget-empty">
                <i class="fa fa-info-circle"></i>
                دسته‌بندی ثبت نشده
            </li>
        {% endfor %}
    </ul>
</div>