<div class="ml-sidebar-widget">
    <h3 class="ml-widget-title">
        <i class="fa fa-list-ul"></i>
        نوع پرونده‌ها
    </h3>

    {% if type_list %}
        <ul class="ml-widget-list">
            {% for type in type_list %}
                <li class="ml-widget-item">
                    <a href="?type={{ type.url_title }}">
                        <span class="ml-widget-name">{{ type.title }}</span>
                        <span class="ml-widget-count">{{ type.count }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="ml-widget-empty">
            <i class="fa fa-info-circle"></i>
            نوع پرونده‌ای ثبت نشده
        </div>
    {% endif %}
</div>